@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.menuDiv{
    height: 2000px;
    background-color: black;
}

.menuTitle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.menuTitleOne{
    text-align: center;
    font-size: 30px;
    color: var(--color-orange);
    font-family: 'Great Vibes',cursive;
}
.menuTitleTwo{
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.menu{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: row;

    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;


    width: 1200px;
}

.menuSearchBar{
    width: 20%;
    color: white;
}

.menuPositions
{
    width: 80%;
}

.titleInMenu
{
    color: white;
    font-size: 40px;
    font-weight: 600;

    padding: 10px 10px 30px 10px;

    border-bottom: solid rgba(0, 255, 0, 0.05) 1px;
}

.menuLawasz{
    display: flex;
    justify-content: left;

}


.dishBox{
    width: 400px;
    padding: 15px 15px 15px 15px;
}

.dishBoxImg{
    padding: 10px 10px 10px 0px;

    height:250px ;
}
.dishBoxImg img{
    width: 100%;
    height: 100%;
}
.dishBoxTitle{
    color: white;
    font-size: 23px;
    font-weight: 600;

    height: 60px;

    padding-bottom: 5px;
}
.dishBoxDescription{
    color: white;
    overflow: auto;

    line-height: 1.3;
    height: 70px;
}

.dishBoxButton{
    color: black;
    font-size: 15px;
    width: 120px;
    
    border: none;

    background-color: var(--color-orange);
    padding-top: 9px;
    padding-bottom: 9px;
}