@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');


:root
{
    --font-size-casual:15px;
    --color-casual:#FFFFFF;
    --color-orange: rgb(223, 152, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
   background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/Img/doorPhoto.png");
    background-size: cover;       
    background-position-y: 50%;  
    background-repeat: no-repeat; 
    
}
.topHeader
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.headerImg
{

    height: 120px;
    padding-left: 120px;
    padding-right: 20px;
    
}
.headerImg img
{
    max-width: 110px;
    height: 120px;
}
.headerButton
{
    padding-left: 50px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.headerButton button
{
    width: 150px;
    height: 38px;
    outline: none;
    border: 2px solid  var(--color-orange);
    font-size: var(--font-size-casual);
    cursor: pointer;
}
.navigationBar
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 70%;
    padding-top: 48px;
    padding-bottom: 48px;
    
    
}
.topNav
{
    padding-left: 15px;
    padding-right: 15px;
}

.topNav a
{
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
}

/*BottomHeader*/

.bottomHeader
{
    height: 800px ;
    padding-top: 150px;
}
.frontTexts
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.firstText
{
    font-size: 50px;
    color: var(--color-orange);
    font-family: 'Great Vibes',cursive;
    text-align: center;
    opacity: 0;
    padding-bottom: 20px;
}
.secondText
{
    font-size: 70px;
    font-weight: 600;
    line-height: 0.9;
    overflow-wrap: break-word;
    text-align: center;
    color: var(--color-casual);
    opacity: 0;
}
.front
{
    padding-bottom: 50px;
}
.frontButton
{
    opacity: 0;
}
.frontButton button
{
    width: 200px;
    height: 60px;

    font-weight: 500;
    font-size: var(--font-size-casual);
    
    border: 4px rgba(0, 0,0,0);
    outline: none;
    
    transition: background-color 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
    
}

.facebook
{
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.facebook div
{
    display: flex;
    justify-content: center;
    align-items: center;

    
    border-radius: 50%;
    width: 100%;
    height: 100%;

    font-size: 30px;
    font-weight: 400;
    font-family:  sans-serif;
    text-decoration: none;
    
    transition: all 0.2s ease;
    /* border: 4px solid transparent; */
}
.favebookDiv
{
    padding-top: 120px;
    padding-left: 120px;
}









.popUp
{
    
    animation: popUp 1s ease-out forwards;
    animation-delay: 0.1s;
    
}
.slideDown
{
    
    animation: slideDown 1s ease-out forwards;
    animation-delay:0.5s ;
}
.slide
{
    animation: slide 1s ease-out forwards;
    animation-delay:0.8s ;
}



@keyframes popUp {
    from 
    {
        
        opacity: 0;
    }
    to 
    {
       
        opacity: 1;
    }
}
@keyframes slideDown {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to
    {
        transform: translateY(0);
        opacity: 1;
    }
    
}
@keyframes slide {
    from
    {
        transform: translateY(-20px);
        opacity: 0;
    }
    to
    {
        transform: translateY(0);
        opacity: 1;
    }
    
}
